---
interface Props {
  className: string;
}

const { className } = Astro.props;
---

<span
  class={`flex gap-x-2 rounded-full text-xs ${className} py-1 px-2 min-w-20 min-h-4 justify-center items-center`}
>
  <slot />
</span>
